.catalog{
    @include flex(flex-start, flex-start);

    &__fitler{
        width: 20%;
        @include tablet{
            width: unset;
        }
        &__widget{
            margin-bottom: 2rem;
            &__title{
                font-size: 1.25rem;
                text-transform: capitalize;
                font-weight: 600;
                margin-bottom: 16px;
            }
            &__content{
                color: $txt-second-color;
                &__item{
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__content{
        flex-grow: 1;
    }
}